@model Web.ViewModels.AnuncioViewModel

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UsuarioId" type="hidden" />
            <input asp-for="DataCadastro" type="hidden"/>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autores" class="control-label"></label>
                <input asp-for="Autores" class="form-control" />
                <span asp-validation-for="Autores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editora" class="control-label"></label>
                <input asp-for="Editora" class="form-control" />
                <span asp-validation-for="Editora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" asp-items="@new @SelectList(ViewBag.Categoria, "Key", "Value")" class="form-control"></select>
                @*<input asp-for="Categoria" class="form-control" />*@
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Preco" class="control-label"></label>
                    <input asp-for="Preco" class="form-control" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="QuantidadeDisponivel" class="control-label"></label>
                    <input asp-for="QuantidadeDisponivel" class="form-control" />
                    <span asp-validation-for="QuantidadeDisponivel" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
            @{
                for (int i = 0; i < Model.Imagens.Count(); i++)
                {
                <div class="col-sm-4">
                    <img src="@Model.Imagens.ElementAt(i).Caminho" alt="@Model.Titulo" class="img-thumbnail img-fluid" style="max-width:100px" />
                    <input type="radio" name="imagemPrincipal" value="@Model.Imagens.ElementAt(i).Caminho" /> Principal?
                    @Html.ActionLink("Editar", "EditImage", new { id = Model.Imagens.ElementAt(i).Id }) |
                    @Html.ActionLink("Remover", "DeleteImage", new { id = Model.Imagens.ElementAt(i).Id })
                    

                </div>
                }
                for (int i = Model.Imagens.Count(); i < 3; i++)
                {
                    <div class="col-sm-4">
                        <img src="~/images/default.jpg" class="img-thumbnail img-fluid" style="max-width:100px" />
                        @Html.ActionLink("Editar", "EditImage", new { id = -1, anuncioId = Model.Id })
                    </div>
                }
            }
            </div>
            <br />
            <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
