@model Web.ViewModels.AnuncioViewModel

@{
    ViewData["Title"] = "Comprar";
}

<div class="row">
    <div class="col-md-3" style="min-height:350px">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    @{
                        if (Model.Imagens != null)
                        {
                            <img src="@Model.Imagens.ElementAt(0).Caminho" alt="@Model.Titulo" class="img-thumbnail" style="height: 350px" />
                        }
                        else
                        {
                            <img src="~/images/default.jpg" class="img-thumbnail" style="height: 350px" />
                        }
                    }
                </div>
                <div class="item">
                    @{
                        if (Model.Imagens != null && Model.Imagens.Count() > 1)
                        {
                            <img src="@Model.Imagens.ElementAt(1).Caminho" alt="@Model.Titulo" class="img-thumbnail" style="height: 350px" />
                        }
                        else
                        {
                            <img src="~/images/default.jpg" class="img-thumbnail" style="height: 350px" />
                        }
                    }
                </div>
                <div class="item">
                    @{
                        if (Model.Imagens != null && Model.Imagens.Count() > 2)
                        {
                            <img src="@Model.Imagens.ElementAt(2).Caminho" alt="@Model.Titulo" class="img-thumbnail" style=" height: 350px" />
                        }
                        else
                        {
                            <img src="~/images/default.jpg" class="img-thumbnail" style="height: 350px" />
                        }
                    }
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h3>@Model.Titulo</h3>
            <label class="control-label">Autores:</label> @Model.Autores <br />
            <label class="control-label">Editora:</label> @Model.Editora <br />
            <label class="control-label">Categoria:</label> @Model.Categoria <br />
            <label class="control-label">Descrição:</label><div class="text-justify">@Model.Descricao</div><br />
        </div>
        <br />
        <div>
            @*<label class="control-label">Vendedor</label><br /><h4>@Model.Usuario.Nome</h4>*@
            <input value="@ViewBag.Avaliacao" id="input-id" type="text" data-step="0.2" class="rating" data-size="xs" data-show-caption="false" readonly>
        </div>

        <h3>R$ @Model.Preco</h3>
        
        <div class="form-group">
            <a asp-action="Comprar" asp-route-id="@Model.Id">
                <input type="submit" value="Comprar" class="btn btn-default" />
            </a>
        </div>
        
    </div>
</div>

