@model List<Tuple<string, IEnumerable<Web.ViewModels.AnuncioViewModel>>>

@{
    ViewData["Title"] = "Boox";
}
@{
    @if (ViewBag.UserCreated != null)
    {
        <h2 style="color:green"> @ViewBag.UserCreated </h2>
    }
    @if (ViewBag.PurchaseSuccess != null)
    {
        <h2 style="color:green"> @ViewBag.PurchaseSuccess </h2>
    }

}
<div class="row">
    <form asp-action="Pesquisar" method="get">
        <div class="form-group col-sm-offset-3 col-sm-4">
            <input id="pesquisar" name="pesquisar" type="text" class="form-control" />
        </div>
        <div class="form-group col-sm-2">
            <input type="submit" value="Pesquisar" class="btn btn-default" />
        </div>
    </form>
</div>
<div class="row">
    <aside role="complementary" class="col-sm-3">
        <nav>
            <br />
            <ul class="list-group" style="margin-right: 10px; padding-top:19px">

                <li class="list-group-item">Categorias</li>
                @{
                    foreach (var item in Model)
                    {
                        <li class="list-group-item"><a asp-action="ListarPorCategoria" asp-route-id="@item.Item1">@item.Item1</a></li>
                    }
                }
            </ul>
        </nav>
    </aside>
    <div class="col-sm-9">
        <div class="row">
            @{
                foreach (var list in Model)
                {
                    <div style="margin-right: 10px"><a asp-action="ListarPorCategoria" asp-route-id="@list.Item1" class="text-right" style=""><h4>@list.Item1</h4></a></div>
                    <div class="row table-bordered" style="padding: 20px; margin-left: 10px; margin-right: 10px">
                        @foreach (var item in list.Item2)
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <div class="col-sm-4" style="display: flex; justify-content: center">
                                    <div style="margin: auto; height: 300px">
                                        @if (item.Imagens.Count() > 0)
                                        {
                                            <img src="@item.Imagens.ElementAt(0).Caminho" alt="@item.Titulo" class="img-thumbnail img-fluid" style="max-width:175px; height: 200px" />
                                        }
                                        else
                                        {
                                            <img src="~/images/default.jpg" style="max-width:175px; height: 200px" />
                                        }
                                        <h4>@item.Titulo</h4>
                                        <h6 style="color: black">@item.Autores</h6>
                                        <h3>R$ @item.Preco</h3>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                    <br />
                }
            }
        </div>
    </div>
</div>
