@model IEnumerable<Web.ViewModels.VendaViewModel>

@{
    ViewData["Title"] = "Vendas";
}

<h2>Vendas</h2>
<div class="text-right">
    <h4>Média de Avaliações</h4>
    <input id="input-id" type="text" data-step="1.0" class="rating" data-size="xs" data-show-caption="false" value="@ViewBag.Avaliacao" readonly>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Número da venda
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPagamento)
            </th>
            <th>
                Livro
            </th>
            <th>
                Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avaliacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @ViewBag.Status[item.Status]
            </td>
            <td>
                @ViewBag.FormaPagamento[item.FormaPagamento]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anuncio.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliacao) Estrelas
            </td>
            <td>
                @Html.ActionLink("Atualizar Status", "AtualizarStatus", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $("#input-id").rating();
    </script>
}
